<!-- <nav class="navbar bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>


<table class="table table-primary text-center table-striped-columns my-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Area</th>
            <th scope="col">Institution</th>
            <th scope="col">Category</th>
            <th scope="col">Hours</th>
            <th scope="col">References</th>
            <th scope="col">Comments</th>
            <th scope="col">File</th>

            <th scope="col">Function</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of approveposts let i=index ">
            <th scope="row">{{i+1}}</th>
            <td>{{data.Name}}</td>
            <td>{{data.Area}}</td>
            <td>{{data.Institution}}</td>
            <td>{{data.Category}}</td>
            <td>{{data.Hours}}</td>
            <td>{{data.References}}</td>

        </tr>

    </tbody>
</table> -->